
<div class="row">
	<div class="col-xs-6">Forum ID:</div>
	<div class="col-xs-6"><strong><%= forum_details.forum_id %></strong></div>
</div>
<div class="row">
	<div class="col-xs-6">Forum Name:</div>
	<div class="col-xs-6"><strong><%= forum_details.forum_name %></strong></div>
</div>

