<h3>Forum Details</h3>

<% if forum_details.nil? %>
  No forum details registered
<% else %>
  <p>
    Forum ID:
    <strong><%= forum_details.forum_id %></strong><br/>

    Forum Name:
    <strong><%= forum_details.forum_name %></strong>
  </p>
<% end %>
