<h1>Subscription Sign-up (Existing User)</h1>
<h2>STEP 1 - Locate your membership</h2>

<%= form_tag "/gocardless/step1_submit" do %>
	<p>	
    	<%= text_field_tag "id" %>
  	</p>

  	<p>
    	<%= submit_tag "Step2", class: "btn btn-small btn-primary"%>
  	</p>
<% end %>