<h1>DEMU Subscription Sign-up (Existing User)</h1>
<p>STEP3 - Subscription Confirmation</p>

<p>The following member is signed up for direct debit payments</p>
<h2>Member Details: <%= @member.membership_number %></h2>
<p>
  <strong>Forename:</strong>
  <%= @member.forename %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @member.surname %>
</p>

<p>
  <strong>Subscription Resource ID:</strong>
  <%= @resource_id %>
</p>

