<div class="center hero-unit">
	
	<div class="jumbotron" style="margin-top: 20px;">
	  <h1>Welcome to DEMU <%= @member.forename %></h1>
	  <p>You are now registered!</p>
	  <p>The membership secretary will contact you in due course and will send you your welcome pack containing your first copy of Update magazine. In the mean time, why not log in to our forum with your new login: <strong><%= @member.forum_details.forum_name %></strong> ?</p>
	  <p><a class="btn btn-primary btn-lg" role="button" href="/forum">To the trains...</a>
	  <a class="btn btn-default btn-lg" role="button" href="<%= member_path(current_member) %>">Manage my membership</a></p>
	</div>

</div>