
<% if entitlement_period.persisted? %>

<td><%= entitlement_period.end_date %></td>
<td>
	<% unless entitlement_period.payment.nil? %>
  		<%= entitlement_period.payment.id %>
  	<% else %>
  		No Payment recorded
  	<% end %>
 </td>
 <td>
 	<% if entitlement_period.last %>
 		<%= link_to 'Remove', [entitlement_period.member, entitlement_period], method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-small" %>
 	<% end %>
 </td>

<% end %>