
<% if entitlement_period.persisted? %>

<p>
  <strong> <%= entitlement_period.id %> End date:</strong>
  <%= entitlement_period.endDate %>


  <%= link_to 'Destroy Entitlement Period', [entitlement_period.member, entitlement_period], method: :delete, data: {confirm: 'Are you sure?'} %>
</p>

<% end %>