
<% if entitlement_period.persisted? %>

<td><%= entitlement_period.end_date %></td>
<td>
	<% unless entitlement_period.payment.nil? %>
  		<%= entitlement_period.payment.id %>
  	<% else %>
  		No Payment recorded
  	<% end %>
 </td>

<% end %>