
<% if entitlement_period.persisted? %>

<p>
  	<strong>Entitlement End:</strong>
 	<%= entitlement_period.end_date %>

 	<strong>Related Payment:</strong>

	<% unless entitlement_period.payment.nil? %>
  		<%= render entitlement_period.payment %>
  	<% else %>
  		No Payment recorded
  	<% end %>
</p>

<% end %>