<footer class="footer">
  <small>
    <a href="/">© Diesel and Electric Modellers United 2013</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", controller: "/welcome" %></li>
      <li><%= link_to "Members", members_path %></li>
      <li><%= link_to link_to "Area Groups", controller: "/area_groups" %></li>
    </ul>
  </nav>
</footer>