<footer class="footer">
  <small>
    <a href="http://membership.demu.org.uk/">DEMU Membership Database</a>
    by Guy Molyneux
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", controller: "welcome" %></li>
      <li><%= link_to "Members", members_path %></li>
      <li><%= link_to link_to "Area Groups", controller: "area_groups" %></li>
    </ul>
  </nav>
</footer>