<% if signed_in? %>
  <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= param_1 %> </strong><%= param_2 %>
  </div>
<% end %>