<div class="row">
  <div class="col-xs-7">Sign-up Source Channel:</div>
  <div class="col-xs-5"><strong><%= @member.source_channel %></strong></div>
</div>
<div class="row">
  <div class="col-xs-7">Sign-up Source:</div>
  <div class="col-xs-5"><strong><%= @member.signup_source %></strong></div>
</div>
