<h1>Join DEMU</h1>

<p>You can join DEMU online today by completing the application form shown below. Alternatively, you can download our application form and return it to us by post.
</p>
<p><strong>Joining online is the quickest way for us to process your membership and means that you will have almost immediate access to our forum and wiki.</br> (Subject to a brief check by the membership secretary).</strong>

<p>Your membership year will run from the 1st of the month following the date you joined. So, for example, if you join on 23rd September, your membership will renew on 1st October each year.</p>

<%= render 'signup_form' %>



